html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btn-control {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #9333ea;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-control:hover {
  background-color: #7e22ce;
}

.btn-control.reset {
  font-size: 1.4rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-toggle {
  align-self: end;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  padding: 0;
}
.moon {
  font-size: 2.2rem;
  color: #000;
  border: none;
}

.sun {
  font-size: 2.2rem;
  color: #fff;
  border: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 3.2rem;
  border-radius: 8px;
  background-color: #f3f4f6;
  box-shadow: 0px 0px 50px 1px rgba(3, 7, 18, 0.178);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container.dark {
  background-color: #2e1065;
  color: #fff;
}
.app-container.light {
  color: #000;
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-container {
  display: flex;
  gap: 1rem;
}
